body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #1F2937;
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    height: 40vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight:bolder;
    color: #F9FAF8; 
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}
.upper_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
a:visited{
    text-decoration: none;
    color: #E5E7EB;
}

p.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

p.hero-sec{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0em;
    margin-bottom: 1px;
}
.header_description{
    width: 50vh;
    display: flex;
    flex-direction: column;
}
.button{
    background-color: #3882F6;
    border: none;
    display: inline-block;
    margin: 4px 2px;
    width: 100px;
    color: #F9FAF8;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
