body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    background-color: #1F2937;
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    height: 40vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_logo{
    
    font-size: 24px;
    font-weight:bolder;
    color: #F9FAF8; 
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}
.upper_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
a:visited{
    text-decoration: none;
    color: #E5E7EB;
}

p.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

p.hero-sec{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0em;
    margin-bottom: 1px;
}
.header_description{
    width: 50vh;
    display: flex;
    flex-direction: column;
}
.button{
    background-color: #3882F6;
    border: none;
    display: inline-block;
    margin: 4px 2px;
    width: 100px;
    color: #F9FAF8;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.header_intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    color: #F9FAF8;
    width: 50vh;
    height: auto;
    text-align: center;
}
.upper_body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
p.random-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 90px;
}

.card{
    display: flex;
    height: 200px;
    width: 200px;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    
}
.entire-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 50px;
    margin-left: 50px;
}
.card-desc{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.quote{
    
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 350px;
    padding-right: 350px;
}
p.Quoter{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}
.footer-container{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
}
.Sign-up-bar{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.bar-description{
    display: flex;
    flex-direction: column;
}
p.call{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}
p.bar-desc{
    margin-top: 0;
    font-size: 14px;
}
.button-2{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    color: #E5E7EB;
    font-weight: bold;
    border-color: whitesmoke;
    background-color: #3882F6;
}
.footer{
    text-align: center;
    color: #E5E7EB ;
    background-color: #1F2937;
    padding: 30px;
    font-size: 10px;
}